@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    min-height: 100dvh;
}

a:hover,
button:hover {
    text-decoration: underline;
}

.page-header {
    font-size: clamp(3rem, 1.6667rem + 10.6667vw, 5rem);
}

#user-list,
#chat-list {
    position: relative;
}
#user-list:not(:has(.user-item))::after,
#chat-list:not(:has(.chat-item))::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #ccc;
    pointer-events: none;
}
#user-list:not(:has(.user-item))::after {
    content: 'No users found';
}
#chat-list:not(:has(.chat-item))::after {
    content: 'No chats found';
}
#user-list .user-item,
#chat-list .chat-item {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
#user-list .user-item span:last-child,
#chat-list .chat-item span:first-child {
    color: gray;
}
#user-list .user-item.active,
#chat-list .chat-item.active {
    outline: 1px solid;
    outline-offset: -5px;
}
#user-list .user-item.active span:last-child,
#chat-list .chat-item.active span:first-child {
    color: black;
}
#user-list .user-item:hover,
#chat-list .chat-item:hover {
    background: #ccc;
}

#message-list {
    position: relative;
}
#message-list:not(:has(.message-item))::after {
    content: 'No messages found';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #ccc;
    pointer-events: none;
}
