@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    min-height: 100dvh;
}

.page-header {
    font-size: clamp(3rem, 1.6667rem + 10.6667vw, 5rem);
}
