# Host
PORT=4000

# RabbitMQ
RABBITMQ_HOST=locahost
RABBITMQ_PORT=5672

# Security
SALT_ROUNDS=12

# Logger
LOGGER_TIMESTAMP="YYYY-MM-DD hh:mm:ss.SSS A"
LOG_FILENAME=%DATE%.log
LOG_DATE_PATTERN=YYYY-MM-DD
LOG_INFO_DIRECTORY=logs/infos
LOG_ERROR_DIRECTORY=logs/errors
LOG_EXCEPTION_DIRECTORY=logs/exceptions
LOGGER_MAX_FILES=14d